body {
  background-color: darkgrey;
}



nav {
  background-color: lightgrey;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

header, nav{
  background-color: lightgrey;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  padding: 1.5em;
  /* border: 8px solid orange; */
}

p {
  text-align: center;
}

#right {
  float:right;
  background-color: lightgrey;
}
#left{
  float: left;
  height: 12em;
  margin-left: 10%;
  background-color: lightgrey;
}